:root
{
    max-width: 1120px;
}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red;  */
}
.nav-center
{
    width: 90vw;
    max-width: var(--max-width);
    /* background: blue; */
}
.nav-header
{
    /* background: red; */
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-logo
{
    /* background: red; */
    display: flex;
    align-items: center;
}
.nav-header img
{
    width: 200px; 
}


.nav-btn
{
    padding:  0.15rem 0.75rem;
}
.nav-btn i
{
    font-size: 1.25rem;
}

.nav-links
{
    text-decoration: none;
    display: flex;
    flex-direction:column;
    height: 0;
    overflow: hidden;
    transition: all 1s linear;
}
.nav-link
{
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: grey;
    letter-spacing: 1px;
    padding: 1rem 0;
    border-top: 1px solid grey;
    transition:all 0.3 linear;
}
.nav-link:hover
{
    color: blue;    
}
.contact-link a
{
    text-decoration: none;
    padding: 0.15rem 1rem;
    background:purple;
    color: white;
}
.show-link
{
    height: 255px;
}

@media screen and (min-width:992px)
{
    .nav-logo
    {
        display: flex;
        align-items: center;
    }
    .nav-btn
    {
        display: none;
    }
    .navbar
    {
        height: 6rem;
    } 
    .nav-center
    {
        display: flex;
        align-items: center;
    } 
    .nav-header
    {
        height: auto;
        margin-right: 2rem;
    } 

    .nav-links
    {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
        /* background: red; */
    }
    .nav-link
    {
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1rem;
        /* background: blue; */
    }
    .contact-link
    {
        margin-left: 20rem;
        margin-right:0;
    }
    .page
    {
        background: red;
    }
    .page-footer
    {
        height: 4rem;
        
    }

}